<footer id="footerer">
    <div id="footer_left">
        <h6>Contato</h6>
        <a href="mailto:contato@sanguanel.com">contato@sanguanel.com</a>
    </div>

    <div id="footer_right">
        <h6>Links Úteis</h6>
        <!-- <a href="https://www.sanguanel.com">A Empresa</a><br> -->
        <a href="/Início">Página Inicial</a>
    </div>

    <span id="authoral">© Sanguanel Meadery 2021 - Todos os Direitos Reservados.</span>
</footer>



<!-- SHARE ICON -->
<div id="share_container">
    <a id="fb_link"  href="https://www.facebook.com/sharer/sharer.php?u="       ><div id="facebook_img" class="sharit sharit_icons"></div></a>
    <a id="wpp_link" href="https://api.whatsapp.com/send?text="                 ><div id="whatsapp_img" class="sharit sharit_icons"></div></a>
    <a id="in_link"  href="https://www.linkedin.com/shareArticle?mini=true&url="><div id="linkedin_img" class="sharit sharit_icons"></div></a>
    <button id="button_img" class="sharit"></button>
</div>



<!-- COOKIES ADVICE -->
<div id="CookieAdvice_container" state="hide">
    <img src="/website/Template/assets/images/icons/cookies.png">
    <div><h6>Usamos cookies! Entenda mais <a href="/Institucional/PolíticaDePrivacidade">aqui</a></h6></div>
    <button id="buttonAccept" value="accept">Aceitar</button>
</div>
<script src="/website/Template/js/cookiesUseAdvice.js"></script>