    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNLG68C"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
        <!-- End Google Tag Manager (noscript) -->



<nav id="navegation">
    <section id="nav_top">
        <div id="A1">
            <img src="/website/Template/assets/images/icons/simbolo-do-menu.png" alt="Botão do Menu" id="menu_button">
        </div>
        <div id="A2">
            <a href="/Início">
                <img src="/website/Template/assets/images/LogoSanguanelCabecaPRETO144.png" alt="Logo da Página">
                <h1>SANGUANEL<br><specialh1>Editorial Hidromeleiro</specialh1></h1>
            </a>
        </div>
    </section>

    <hr class="nav_hr">

    <section id="nav_bottom">
        <ul id="A3">
            <li><a href="/Início/Produção">Produção</a></li>
            <li><a href="/Início/História">História</a></li>
            <li><a href="/Início/Receitas">Receitas</a></li>
            <li><a href="/Início/Curiosidades">Curiosidades</a></li>
        </ul>
    </section>
</nav>

