<div id="menu_slider">
        <ul id="ceil">
            <li><a href="/Início">Início</a></li>
            <hr class="nav_hr">
            <li><a href="/Início/Produção">Produção do Hidromel</a></li>
            <hr class="nav_hr">
            <li><a href="/Início/História">História do Hidromel</a></li>
            <hr class="nav_hr">
            <li><a href="/Início/Receitas">Receitas e Drinks</a></li>
            <hr class="nav_hr">
            <li><a href="/Início/Curiosidades">Curiosidades</a></li>
            <hr class="nav_hr">
            <li><a href="/Institucional">Exposição</a></li>
            <hr class="nav_hr">
            <li></li>
        </ul>

        <ul id="floor">
            <hr class="nav_hr">
            <li><a href="/Institucional/PolíticaDePrivacidade">Política de Privacidade</a></li>
            <hr class="nav_hr">
            <li></li>
        </ul>
</div>