

<meta name="creator" content="Angelo Schuler Piletti">


<meta name="robots" content="follow">
<meta name="rating" content="general">
<link rel="stylesheet" type="text/css" href="/website/Template/css/ColectiveCSS/geralstyle.css">
<link rel="stylesheet" type="text/css" href="/website/Template/css/ColectiveCSS/articles.css">
<link rel="shortcut icon" href="/website/Template/assets/images/favicon/IconSiteEditorial.png" type="image/png">

<link rel="preload" href="/website/Template/fonts/VollkornSerif/Vollkorn-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="/website/Template/fonts/VollkornSerif/Vollkorn-SemiBold.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="/website/Template/fonts/OpenSansSerif/OpenSans-SemiBold.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="/website/Template/fonts/OpenSansSerif/OpenSans-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">


<script src="/website/Template/js/googleTagHEAD.js"></script>



<!-- Exclua a tag base ao publicar -->
<!-- <base href="/"> -->



<!-- Google ADSENSE -->
<script data-ad-client="ca-pub-5362588328451969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>