

#card1{
    background-image: url("../../../assets/images/Historia/Artigo1/5980df7227fa6b04b22af630.jpg");
    background-position-y: 40%;
}
#card2{
    background-image: url("../../../assets/images/Historia/Artigo2/death-164762_1280.jpg");
    background-position-y: 40%;
}
#card3{
    background-image: url("../../../assets/images/Historia/Artigo3/buckingham-palace-3932671_1280.jpg");
    background-position-y: 50%;

}